/* Making the website responsive */

/* This is the scale for Ipad Pro */
@media only screen and (max-width: 1204px) {
  .wrapper {
    display: block;
  }
  .resume {
    display: block;
  }
}

/* This is the scale for IphoneX */
@media only screen and (max-width: 375px) {
  .wrapper {
    display: block;
  }
  .resume {
    display: block;
  }
  .picture {
    display: block;
  }
  .my-gmail {
    display: block;
    text-align: center;
    align-items: center;
  }
  .email {
    font-size: 18px;
  }
  .education-info {
    display: block;
  }
}
