* {
  font-family: "Arvo";
  font-size: 20px;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.resume {
  display: grid;
  grid-template-columns: 750px 450px;
  grid-template-rows: 270px 270px 270px 270px 270px 300px;
  border-style: solid;
  grid-template-areas:
    "picture picture"
    "info skills"
    "education skills"
    "experience skills"
    "experience language"
    "experience interest";
}

.info {
  grid-area: info;
}

.info p {
  padding: 0 7% 0 6%;
}

/* picture div --> with class: name && photo */
.picture {
  grid-area: picture;
  /* #c32f51 */
  background-image: linear-gradient(to bottom right, #3f0736, #5e00a0);
  /* background-image: linear-gradient(to bottom right, #021f4b, #4c3b71, #115268); */
  display: flex;
  /* justify-content: space-around; */
  color: rgb(236, 179, 34);
}

.social {
  color: rgb(236, 179, 34);
  text-decoration: none;
}

/* name div --> class: my-name & smedia */
.name {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.my-name {
  text-align: center;
  font-size: 50px;
}

/* smedia fa ==> for media icons */
.smedia {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.fa {
  padding: 10px;
  font-size: 25px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  display: absolute;
}

.fa:hover {
  opacity: 0.9;
  transition: 0.3s;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-instagram {
  background: #9b6954;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.my-gmail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.e-mail {
  width: 100%;
  display: inherit;
}

.photo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo img {
  border: solid;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

/* end of picture div  */

/*education div------------*/
.education {
  grid-area: education;
}

.education-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
}

.education-info p {
  text-align: center;
}

.h-line {
  display: flex;
  justify-content: flex-start;
}

.sline {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.sline hr {
  width: 70%;
  height: 2px;
  background-color: rgb(236, 179, 34);
}

/*end of education div*/

.experience {
  grid-area: experience;
}

.experience header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 20px; */
}

.exp-container {
  padding: 0 7% 0 6%;
}

.exp-container ul li {
  padding: 10px;
}

.exp-info {
  padding: 0 40px;
}

.skills {
  grid-area: skills;
  /* background-color: darkgoldenrod; */
}

.skills-info {
  padding-left: 5%;
}

.language {
  grid-area: language;
}

.interest {
  grid-area: interest;
}

.interest ul li {
  padding: 10px;
}

/* all--------------------- */
/* all of h1 tags */
h1 {
  text-transform: uppercase;
  padding-left: 10px;
  text-decoration: underline;
  font-weight: bolder;
  color: #1c2e4a;
}
