/* Making the website responsive */
@media only screen and (max-width: 1204px) {
  .wrapper {
    display: block;
  }
  .resume {
    display: block;
  }
}

@media only screen and (max-width: 375px) {
  .wrapper {
    display: block;
  }
  .resume {
    display: block;
  }
  .picture {
    display: block;
  }
}
